
#botao-habilidades {
    display: block;
    background-color: transparent;
    border: 2px solid #ccc;
    width: 150px;
    height: 50px;
    cursor: pointer;
    
}

#botao-habilidades:hover {
    border: 2px solid var(--cor-hover);
    animation: pulse 1s linear ;
}

.linha2:nth-child(1) {
    display: block;
    width: 15px;
    border: 2px solid var(--cor-hover);
    margin: auto;
    transition: 0.2s;
    transform: translateY(4px) translateX(-6px) rotate(45deg)
}

.linha2:nth-child(2) {
    display: block;
    width: 15px;
    border: 2px solid #ccc;
    margin: auto;

    transform: translateY(1px) translateX(3px) rotate(-45deg)
}

#botao-habilidades.ativar2 {
    border: 4px solid var(--cor-hover);
}

#botao-habilidades.ativar2 .linha2:nth-child(1) {
    transform: translateY(4px) translateX(4px) rotate(45deg);
}

#botao-habilidades.ativar2 .linha2:nth-child(2) {
    transform: translateY(0px) translateX(-4px) rotate(135deg)
}