

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.171);
}

.navegação {
    background-color: rgba(0, 0, 0, 0.055);
    padding: 30px;
    border-radius: 50px;
}

.navegação > a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 20px;
}

.navegação > a:hover {
    background-color: var(--cor-hover);
}



