#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.171);
}

.navegação {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.navegação > a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.navegação > a:hover {
    background-color: var(--cor-hover);
}

.avatar-img {
    cursor: pointer;
}



