#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.171);
}

.avatar-img {
    cursor: pointer;
}

.avatar-img:hover {
    border-radius: 50%;
    animation: pulse 2s;
}



