#informaçao {
    display: block;
    background-color: rgb(20, 89, 121);
    color: white;
    font-size: 1.2em;
    box-shadow: inset 0px 0px 20px black;
    width: 70%;
    margin: 15px auto 15px auto;
    text-align: justify;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.areaImg {
    width: 250px;
}

.areaImg > img {
    width: 80%;
}

.html {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.css {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.js {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}