#navegação {    
    display: flex;
    flex-direction: column;
    background-color: var(--cor-navegação);
    font-family: var(--fonte-padrao);
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-left: -100vw;
    transition: ease-in .4s;
    z-index: 2;
    overflow-y: scroll;
    padding-bottom: 30px;
}

#navegação::-webkit-scrollbar {
    width: 2px;
    background: #08ccbc;
}

#navegação::-webkit-scrollbar-thumb {
    background: black;
    
}

#navegação > a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

#navegação > a:hover {
    background-color: var(--cor-hover);
    color: black;
    transition: ease-in .1s;
    padding-left: 10px; 
}

#imgNavegation {
    padding: 15px;
    object-fit: contain;
    border: 2px solid var(--cor-hover);
    margin: 10px 10px 25px 10px;
    animation: pulse 5s linear infinite;
}