.navegação {
    display: none;
    gap: 20px;
    padding: 20px;
}

.navegação > a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.navegação > a:hover {
    background-color: var(--cor-hover);
}